<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Birds in the US (Nov to Dec) Searching Engine!</title>
</head>
<body>
    <h1>Welcome to Birds in the US (Nov to Dec) Searching Engine!</h1>
    <p>
        This app was created in Fall 2020 for SI 507. It is a bird searching engine that gives you the most recent
        observations of bird species around the US. You can start by typing a state to check the most recent observations.
    </p>
  <form action="/results" method="POST">
    <p>
        Type a state in proper form (e.g., Michigan, New Hampshire) <input name="state", type="text"/><br/><br/><br/>
    </p>

    <input type="submit" value="Get Observations"/>
  </form>
</body>
</html>